Repository kubevirt/containerdisks, pull requests merged in 2024-01, with the labels that each got.

#75 feat: Add additional labels to containerdisks
  artifacts/centos/centos.go
  artifacts/centos/centos_test.go
  artifacts/centosstream/centos-stream.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/rhcos/rhcos.go
  artifacts/rhcos/rhcos_test.go
  artifacts/rhcosprerelease/rhcos.go
  artifacts/rhcosprerelease/rhcos_test.go
  artifacts/ubuntu/ubuntu.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
  cmd/medius/images/push.go
  pipeline-periodic.sh
  pkg/api/artifact.go
  pkg/build/build.go
Labels: dco-signoff: yes, release-note, lgtm, size/L, approved

#77 Remove 'codingben' from the OWNERS
  OWNERS
Labels: dco-signoff: yes, release-note-none, lgtm, approved, size/XS

#79 feat: Add force rebuild feature to pipeline-periodic.sh
  pipeline-periodic.sh
Labels: dco-signoff: yes, release-note-none, size/S, lgtm, approved

#78 chore: Drop rhcos and rhcosprerelease containerdisks
  artifacts/rhcos/rhcos.go
  artifacts/rhcos/rhcos_test.go
  artifacts/rhcos/testdata/rhcos-4.8.checksum
  artifacts/rhcos/testdata/rhcos-4.9.checksum
  artifacts/rhcosprerelease/rhcos.go
  artifacts/rhcosprerelease/rhcos_test.go
  artifacts/rhcosprerelease/testdata/rhcos-latest-4.9-prerelease.checksum
  artifacts/rhcosprerelease/testdata/rhcos-latest-prerelease.checksum
  cmd/medius/common/registry.go
Labels: dco-signoff: yes, release-note-none, size/XL, lgtm, approved
